<div class="container mt-3">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">{{users.name}}</h1>
            <p class="col-md-8 fs-4">{{users.address}}</p>
            <p>{{users.email}}</p>
        </div>
    </div>
</div>