<div class="container mt-4">
    <form class="g-3" role="search" action="" method="POST">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input name="email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Gender</label>
            <select class="form-select" aria-label="Gender" name="gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>
        <button class="btn btn-outline-success" type="submit">Submit</button>
    </form>
</div>