<div class="container mt-3">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
            {{post.image}}
            <h1 class="display-5 fw-bold">{{post.title}}</h1>
            <p class="col-md-8 fs-4">{{post.content}}</p>
            <p>{{post.author}}</p>
        </div>
    </div>
</div>